{
    "presets": ["@babel/env", "@babel/preset-react"],
    "plugins": ["@babel/plugin-syntax-dynamic-import",
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": true }] // `style: true` for less
    ]
}