<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Writango</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_HOST }}/writango/static/img/favicon.ico">
  <link rel=stylesheet href="{{ STATIC_HOST }}/writango/static/css/prosemirror.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_HOST }}/writango/static/css/writango.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<script>
    window.STATIC_HOST = "{{ STATIC_HOST }}";
</script>
<body>
  <div id="root"></div>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <script src="{{ STATIC_HOST }}/writango/static/js/bundle.js"></script>
<!-- Widget Code --> <script type="text/javascript">((function(){ var load=function(){ var script="https://s.acquire.io/a-82d39/init.js?full"; var x=document.createElement('script'); x.src=script;x.async=true; var sx=document.getElementsByTagName('script')[0]; sx.parentNode.insertBefore(x, sx); }; if(document.readyState === "complete") load(); else if (window.addEventListener) window.addEventListener('load',load,false); else if (window.attachEvent) { window.attachEvent("onload", load); } })())</script> <noscript><a href="https://www.acquire.io?welcome" title="live chat software">Acquire</a></noscript> <!-- / Widget Code -->
</body>

</html>