body {
    /* font-family: 'Source Sans Pro', sans-serif !important; */
    /* font-family: 'Merriweather', 'Georgia', serif !important; */

}

.writango-header {
    background: #fff !important;
}

.writango-logo {
    float: left;
    width: 300px;
    display: inline;
    font-weight: bolder;
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif !important;
    /* color: #096dd9; */
}

.writango-menu-container {
    /* font-size: 16px ; */
    font-family: 'Source Sans Pro', sans-serif !important;
}

.landing-block {
    height: 300px;
    margin-top: 50px;
    /* background: #efefef; */
    /* padding: 50px; */
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif !important;
}

.landing-block h3 {
    color: #096dd9;
}

.font-color-blue {
    color: #096dd9
}

.writango-controls {
    position: fixed;
    right: 100;
    bottom: 100;
}

.writango-control-btn {
    margin-left: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #999;
}

.writango-control-btn:hover {
    /* font-size: 40px; */
    cursor: pointer;
    color: #096dd9
}

.writango-control-btn-selected {
    /* font-size: 40px; */
    cursor: pointer;
    color: #096dd9

}


.writango-prosemirror-menubar-container {
    margin-top: -62px;
    position: fixed;
    z-index: 10;
}

.width-100 {
    width: 100%;
    margin: auto;
}

.width-60 {
    width: 60%;
    margin: auto;
}

.ant-card-head {
    border: 0 !important;
}
#components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }

/* .writango-post-container {
    border: 0 !important; 
    margin: 'auto' !important;
} */