body {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.writango-header {
    background: #fff !important;
}

.writango-logo {
    float: left;
    width: 300px;
    display: inline;
    font-weight: bolder;
    font-size: 35px;
    /* color: #096dd9; */
}

.writango-menu-container {
    /* font-size: 16px ; */
}

.landing-block {
    height: 400px;
    width: 60%;
    margin: 50px;
    /* background: #efefef; */
    padding: 50px;
    font-size: 30px;
}

.landing-block h3 {
    color: #096dd9;
}

.font-color-blue {
    color: #096dd9
}

/* .ant-menu-item-selected {
    border-bottom: 2px solid transparent !important;
    color: rgba(0, 0, 0, 0.65) !important;
}
.ant-menu-item-selected a {
    border-bottom: 2px solid transparent !important;
    color: rgba(0, 0, 0, 0.65) !important;
}

.ant-menu-item-custom-selected {
    border-bottom: 2px solid ##1890ff !important;
    color: #1890ff !important;
}

.ant-menu-item-custom-selected a {
    border-bottom: 2px solid ##1890ff !important;
    color: #1890ff !important;
} */
